{% extends "base.html" %}

{% block html_header %}
<script src="_static/map_openlayers.1.js"></script>
<script src="_static/charts.1.js"></script>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9" role="main">
            <div id="map"></div>
        </div>
        <div class="col-md-3">
            {% include "inc.charts.html" %}
            {% include "inc.colour_table.html" %}
        </div>
    </div>
</div>

<script>

window.addEventListener("load", () => {

    // workaround to force map_div to be kinda 100% ish
    var h = window.innerHeight - 70;
    document.getElementById('map').setAttribute("style", "height: " + h + "px; width: 100%;");
    setup_openlayers_map();

    create_example_charts();
});

</script>


{% endblock %}



