<table class="table legend_table">
<tbody>
    <tr>
        <th><br/>Voltage</th>
        <th>Line In<br>Service</th>
        <th>Line to <br>Upgrade</th>
        <th>New<br/>Line</th>
    </tr>
    <tr>
        <td>Not Electrified</td>
        <td><hr class="legend service none" /> </td>
        <td><hr class="legend construction none" /> </td>
        <td><hr class="legend proposed none" /> </td>
    </tr>
    <tr>
        <th class="span" colspan=5>Overhead Line</th>
    </tr>
    <tr>
        <td><div class="legend service OCLv600"></div> </td>
        <td><div class="legend service OCLv750"></div> </td>
    </tr>
    <tr>
        <td >&le;600V</td>
        <td><hr class="legend service OCLv600"></td>
        <td><hr class="legend construction OCLv600"></td>
        <td><hr class="legend proposed OCLv600"></td>
    </tr>
    <tr>
        <td>750V</td>
        <td><hr class="legend service OCLv750"></td>
        <td><hr class="legend construction OCLv750"></td>
        <td><hr class="legend proposed OCLv750"></td>
    </tr>
    <tr>
        <td>1.5kV</td>
        <td><hr class="legend service OCLv1500"></td>
        <td><hr class="legend construction OCLv1500"></td>
        <td><hr class="legend proposed OCLv1500"></td>
    </tr>
    <tr>
        <td>25kV</td>
        <td><hr class="legend service OCLv25000"></td>
        <td><hr class="legend construction OCLv25000"></td>
        <td><hr class="legend proposed OCLv25000"></td>
    </tr>
    <tr>
        <td>Out of Use</td>
        <td><hr class="legend service OCLv0" /> </td>
        <td>X</td>
        <td>X</td>
    </tr>
    <tr>
        <th class="span" colspan=5>3rd rail</th>
    </tr>
    <tr>
        <td>&le;550V</td>
        <td><hr class="legend service THREEv550" /> </td>
        <td><hr class="legend construction THREEv550" /> </td>
        <td><hr class="legend proposed THREEv550" /> </td>
    </tr>
    <tr>
        <td>600V</td>
        <td>TBC</td>
        <td>TBC</td>
        <td>TBC</td>
    </tr>
    <tr>
        <td>630V</td>
        <td><hr class="legend service THREEv630" /> </td>
        <td><hr class="legend construction THREEv630" /> </td>
        <td><hr class="legend proposed THREEv630" /> </td>
    </tr>
    <tr>
        <td>660V</td>
        <td>TBC</td>
        <td>TBC</td>
        <td>TBC</td>
    </tr>
    <tr>
        <td>750V</td>
        <td><hr class="legend service THREEv750" /> </td>
        <td><hr class="legend construction THREEv750" /> </td>
        <td><hr class="legend proposed THREEv750" /> </td>
    </tr>
    <tr>
    <th class="span" colspan=5>4th rail</th>
    </tr>
    <tr>
        <td>630V</td>
        <td><hr class="legend service FOURv630" /> </td>
        <td><hr class="legend construction FOURv630" /> </td>
        <td><hr class="legend proposed FOURv630" /> </td>
    </tr>
    <tr>
        <td>750V</td>
        <td><hr class="legend service FOURv750" /> </td>
        <td><hr class="legend construction FOURv750" /> </td>
        <td><hr class="legend proposed FOURv750" /> </td>
    </tr>
    <tr>
    <th class="span" colspan=5>Dual Electrified: Overhead Line &amp; 3rd Rail</th>
    </tr>
    <tr>
        <td>25kV/750V</td>
        <td><hr class="legend service OCLv25000_THREEv750" /> </td>
        <td><hr class="legend construction OCLv25000_THREEv750" /> </td>
        <td><hr class="legend proposed OCLv25000_THREEv750" /> </td>
    </tr>
    <tr>
    <th class="span" colspan=5>Dual Electrified: Overhead Line &amp; 4th rail</th>
    </tr>
    <tr>
        <td>25kV/630V</td>
        <td>TBC</td>
        <td>TBC</td>
        <td>TBC</td>
    </tr>
    <tr>
        <td>25kV/750V</td>
        <td><hr class="legend service OCLv25000_FOURv750" /> </td>
        <td><hr class="legend construction OCLv25000_FOURv750" /> </td>
        <td><hr class="legend proposed OCLv25000_FOURv750" /> </td>
    </tr>
</tbody>
</table>