.navbar {
  background: #333333; }

.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  font-family: monospace; }

.nav-link {
  margin-right: 1em !important; }

.nav-link:hover {
  color: yellow; }

.navbar-collapse {
  justify-content: flex-end; }

.main_content {
  margin-top: 50px;
  max-width: 800px; }

.legend_table {
  font-size: 70%; }
  .legend_table td {
    padding: 5px 4px;
    border: none;
    text-align: center; }
  .legend_table th {
    background-color: #dddddd;
    text-align: center;
    padding: 0 3px; }
  .legend_table th.span {
    color: #666666;
    background-color: #dddddd;
    padding: 0 8px;
    border-top: none;
    border-top-right-radius: 10px;
    text-align: left; }
  .legend_table hr.legend {
    border: none;
    border-top: 4px solid transparent;
    padding: 0;
    margin: 0;
    background-color: #2c2e35;
    width: 50px; }
    .legend_table hr.legend.none {
      background-color: #222222 !important; }
    .legend_table hr.legend.OCLv600 {
      background-color: #C26B2A !important; }
    .legend_table hr.legend.OCLv750 {
      background-color: #FFCE36 !important; }
    .legend_table hr.legend.OCLv1500 {
      background-color: #FF893f !important; }
    .legend_table hr.legend.OCLv25000 {
      background-color: #FF3818 !important; }
    .legend_table hr.legend.THREEv550 {
      background-color: #b3e298 !important; }
    .legend_table hr.legend.THREEv630 {
      background-color: #7bc64e !important; }
    .legend_table hr.legend.THREEv750 {
      background-color: #09843b !important; }
    .legend_table hr.legend.FOURv630 {
      background-color: #0a3797 !important; }
    .legend_table hr.legend.FOURv750 {
      background-color: #11a7e0 !important; }
    .legend_table hr.legend.OCLv25000_THREEv750 {
      background-color: #fe85a8 !important; }
    .legend_table hr.legend.OCLv25000_FOURv750 {
      background-color: #9d1762 !important; }
    .legend_table hr.legend.construction {
      border-top: 4px dashed black; }
    .legend_table hr.legend.proposed {
      border-top: 4px dashed white; }

.ol-attribution {
  font-size: 60%; }

/*# sourceMappingURL=fizzy_style.2.css.map */
